#content{
  padding: 15px;
}

#map{
  width: inherit;
  height: 500px;
}

.mapboxgl-popup{
  max-width: 400px !important;
  font-family: 'Arial';
  font-size: 10pt;
}

.popupInside{
  padding: 5px !important;
  padding-bottom: 1px !important;
}

.mapboxgl-popup-close-button{
  padding: 3px !important;
}

.infobar{
  background-color:	#efe9e1;
}

form{
  padding: 10px;
}

.group{
  padding: 10px 0px;
}

h3{
  padding-top: 15px;
}

h6{
  font-weight: bold;
}
label{
  font-weight: bold;
}
.unchangingVals{
  margin-top: 10px;
  padding: 5px;
  border-bottom: 1px dashed black;
}

footer{
  background-color: #00274c;
}
footer img{
  padding: 5px;
  height: 40px;
}